## Gradient Descent Algoritm using Linear Regression Algorithm Implement

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('Gradient Descent Algorithm1 DataSet/data.csv')
df

       X           Y
0      1    3.888889
1      2    4.555556
2      3    5.222222
3      4    5.888889
4      5    6.555556
..   ...         ...
295  296  200.555556
296  297  201.222222
297  298  201.888889
298  299    1.888889
299  300    1.888889

[300 rows x 2 columns]

In [4]:
df.head()

   X         Y
0  1  3.888889
1  2  4.555556
2  3  5.222222
3  4  5.888889
4  5  6.555556

In [5]:
df.shape

(300, 2)

In [6]:
x=df['X']
y=df['Y']

### Gradient Decent in Machine Learning

In [9]:
#Step=1
m=0
c=0
learning_rate=0.001

n=len(x)

iteration=100

In [10]:
#Step=2
for i in range(iteration):
    y_prediction=m*x+c
    derivatives_m=(-2/n)*sum(x*(y-y_prediction))
    derivatives_c=(-2/n)*sum(y-y_prediction)#step=3

    #Update the value of m and c
    m=m-learning_rate*derivatives_m
    c=c-learning_rate*derivatives_c

print("This is m:",m)
print('This is c:',c)

This is m: -1.356796627062955e+177
This is c: -6.772751186569711e+174

### Make Prediction

In [12]:
a=int(input("Enter any value:"))
#y=mx+c
y=(-1.356796627062955e+177*a)+(-6.772751186569711e+174)
y

-6.790755886501345e+177