In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
df=pd.read_csv("1.1-Logistic Regression Data Set/marital status.csv")

In [3]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     NaN
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [4]:
df.isnull().sum()

age       0
status    1
dtype: int64

In [5]:
handle=df['status'].median()

In [6]:
handle

0.0

In [7]:
df.status=df.status.fillna(handle)

In [8]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     0.0
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [9]:
df['status'].value_counts()

0.0    11
1.0     9
Name: status, dtype: int64

In [10]:
x=df[['age']]

In [11]:
y=df['status']

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

### Logistic Regression

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
model=LogisticRegression()

In [16]:
model.fit(x_train,y_train)

LogisticRegression()

In [17]:
model.predict(x_test)

array([1., 1., 1., 0., 0., 1.])

In [18]:
model.score(x_test,y_test)

0.6666666666666666

### Sigmoid function

In [19]:
model.predict_proba(x_test)

array([[0.00646179, 0.99353821],
       [0.01950259, 0.98049741],
       [0.01950259, 0.98049741],
       [0.63503936, 0.36496064],
       [0.99785648, 0.00214352],
       [0.36263281, 0.63736719]])