In [1]:
import pandas as pd
from sklearn  import tree

In [2]:
df=pd.read_csv("1.1-ID3 Algorithm Decision Tree Classification in Machine Learning DataSet/male female.csv")
df

   height  weight  shoe size  gender
0     181      80         44    male
1     177      70         43  female
2     160      60         38  female
3     154      54         37  female
4     166      65         40    male
5     190      90         47    male
6     175      64         39    male
7     171      75         42  female
8     185      85         43  female
9     169      71         42    male

In [3]:
x=df.drop("gender",axis=1)
x

   height  weight  shoe size
0     181      80         44
1     177      70         43
2     160      60         38
3     154      54         37
4     166      65         40
5     190      90         47
6     175      64         39
7     171      75         42
8     185      85         43
9     169      71         42

In [4]:
x=df.iloc[:,:-1]
x

   height  weight  shoe size
0     181      80         44
1     177      70         43
2     160      60         38
3     154      54         37
4     166      65         40
5     190      90         47
6     175      64         39
7     171      75         42
8     185      85         43
9     169      71         42

In [5]:
y=df["gender"]
y

0      male
1    female
2    female
3    female
4      male
5      male
6      male
7    female
8    female
9      male
Name: gender, dtype: object

In [6]:
y=df.iloc[:,3]#[row,col],[s:e,s:e]
y

0      male
1    female
2    female
3    female
4      male
5      male
6      male
7    female
8    female
9      male
Name: gender, dtype: object

In [7]:
classify_=tree.DecisionTreeClassifier()

In [8]:
classify_

DecisionTreeClassifier()

In [9]:
classify_=classify_.fit(x,y) # fit means model train
classify_

DecisionTreeClassifier()

In [10]:
classify_=classify_.predict([[181,80,44]])# predict means model outcomes

In [11]:
classify_

array(['male'], dtype=object)